body{
    padding: 0;
    margin: 0;
}

nav{
    height: 50px;
}

h3{
    color: black;
}

#icon{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    z-index: 9;
}

.main{
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    min-height: 700px;
}

.blue-overlay{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    opacity: .5;
}

.blue-gradient{
    background: blue;
    background: linear-gradient(to bottom right, blue, black);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    opacity: .5;
}

Section{
    width: 100%;
    position: relative;
    height: 600;
}

.text_layer{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 4;
    width: 100%;
}

.text_layer h3{
    color: white;
    text-align: center;
    width; 100%;
    margin-top: 20%;
}

#fact{
    background-color: #abfcd3;
}

#fact .text_layer{
    width: 100%
}

#fact h3{
    color: black;
    font-weight: 300;
    text-align: left;
    height: 500px;
    background-color: #abfcd3;
    padding-left: 10px;
    margin-top: 0px; 
    line-height: 25px;
}

#fact h1{
    color: black;
    font-size: 80px;
    font-weight: 700;
    text-align: right;
    background-color: #abfcd3;
    padding-right: 40px;
    padding-bottom: 20px;
    margin: 10px 0px 10px 10px;
}

aside{
    float: right;
    position: absolute;
    left: 400px;
    top: 120px;
    padding-left: 10px;
}

.split-right-v{
    border-right: solid 1px #000;
}

.split-left-v{
    border-left: solid 1px #000;
}

.split-top{
    border-top: solid 1px #000;
}

.split-bottom{
    border-bottom: solid 1px #000;
}
.w-33{
    position: relative;
    width: 40.33%;
}
.w-66{
    position: relative;
    width: 57.5%;
}

.col{
    margin-top: 2%;
    height: 90%;
    float: left;
}

/*Nav Section*/

#menu{
    background-color: lightcyan;
}
.nav_wrap{
    list-style-type: none;
    display: table;
    padding: 20px 0 20px 0;
    margin: 0 auto 0 auto;
}

.item{
    display: inline-block;   
}
.item_text:hover{
    background-color: white;
    cursor: pointer;
}

.item_text{
    padding: 60px;
}

#intro{
    width: 100%;
    background-color: lightgray;
    position: relative;
}

.intro_block{
    width: 50%;
    height: 450px;
    background-color: black;
    float: left;
    position: relitive;
    z-index: 1;
}

.intro_block_alt{
    background-color: white;
}
.clear{
    clear: both;
}
#block1{
    background-image: url('/Socialize-Project/images/girls_perfected_it.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#block2{
    background-image: url('/Socialize-Project/images/I_play_like_a_girl.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#block3{
    background-image: url('/Socialize-Project/images/get_it_right.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#block4{
    background-image: url('/Socialize-Project/images/Love_the_Game.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

